*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins" , sans-serif;
}

body{
    background: #23242a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box{
    width: 380px;
    height: 420px;
    background: #1c1c1c;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}
.box::before{
    content: "";
    position: absolute;
    left: -50%;
    top: -50%;
    bottom: 0;
    right: 0;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
    animation: animate 6s linear infinite;
    transform-origin: right bottom;
}
.box::after{
    content: "";
    position: absolute;
    left: -50%;
    top: -50%;
    bottom: 0;
    right: 0;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
    animation: animate 6s linear infinite;
    transform-origin: right bottom;
    animation-delay: -3s;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.form{
    inset: 2px;
    background: #28292d;
    z-index: 9;
    position: absolute;
    border-radius: 8px;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
}

.form h2{
    text-align: center;
    font-weight: 500;
    color: #45f3ff;
}

.input-box{
    position: relative;
    width: 300px;
    margin-top: 35px;
}

.input-box input{
    width: 100%;
    position: relative;
    padding: 20px 10px 10px;
    outline: none;
    border: none;
    background: transparent;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    z-index: 9;
}

.input-box span{
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    font-size: 1em;
    color: #8f8f8f;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: .5s;
}
.input-box input:valid ~ span,
.input-box input:focus ~ span{
    color: #45f3ff;
    transform: translateX(0px) translateY(-34px);
    font-size: 10px;
}

.input-box i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #45f3ff;
    transition: .5s;
    border-radius: 4px;
    pointer-events: none;
}

.input-box input:valid ~ i,
.input-box input:focus ~ i{
    height: 44px;
}

.link{
    display: flex;
    justify-content: space-between;
}

.link a{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 0.75em;
    color: #8f8f8f;
    text-decoration: none;
    transition: .1s;
}

.link a:hover,
.link a:nth-child(2){
    color: #45f3ff;
}

input[type="submit"]{
    outline: none;
    border: none;
    padding: 11px 25px;
    background: #45f3ff;
    width: 100px;
    margin-top: 10px;
    border-radius: 4px;
    font-weight: 600;
}

